@font-face {
  src: url(/fonts/Golos-Text_Regular.ttf);
  font-family: 'Golos Regular';
}
@font-face {
  src: url(/fonts/Golos-Text_Bold.ttf);
  font-family: 'Golos Bold';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Golos Regular';
  font-size: 20px;
  color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo {
  width: 150px;

}
.logo img {
  width: 150px;
}

.content {
  width: 600px;
}

.container {
  display: block;
  border-radius: 10px;
  background-color: whitesmoke;
  width: 600px;
  /*height: 200px;*/
  padding: 25px 40px;
  /*margin-bottom: 10vh;*/
}

/* Кнопки */
#buttonOut {
  /*width: 70px;*/
  height: 40px;
  margin: 5px 0px 0px auto;
}
#buttonOut button {
  /*width: 70px;*/
  float: right;
  height: 40px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 4px solid;
  border-radius: 5px;
  transition: 0.2s;
}
#buttonOut button:hover { background: rgba(255,255,255,.2); }
#buttonOut button:active { background: rgba(255,255,255,0); }

#quizLoad {

}
#submit {
  display: none;
}
#retry {
  display: none;
}
/*--------*/

/* Стартовый дисплей */
.start {
  margin-bottom: 3px;
}
.start .head_text {
  font-size: 26px;
  margin-bottom: 10px;
}
.start .head_text span {
  font-weight: bold;
}

.start #quizLoad {
  margin-top: 15px;
}

/*----------*/

/* quiz box */
.quiz-box{
  display: none;
}
.question-text {
  font-size: 24px;
  margin-bottom: 10px;
}
.questions {
  margin-left: 7px;
}
.questions__item {
  margin-bottom: 5px;
}

input[type='radio'] {
  width: 16px;
  height: 16px;
}

/*---------*/

/* result */
.result-box {
  display: none;
}

.result-text {
  /*margin-left: 3px;*/
  margin-bottom: 3px;
}

.facult-name {
  /*font-weight: bold;*/
  font-size: 25px;
  margin-bottom: 8px;
}

.facult-subtitle {
  font-size: 18px;
  margin-bottom: 3px;
}

.profiles {
  font-size: 16px;
  margin-bottom: 3px;
}
.profiles span {
  font-weight: bold;
}

.formStudy {
  font-size: 14px;
  margin-bottom: 3px;
}

.formStudy span {
  font-weight: bold;
}

.exams {
  font-size: 14px;
  margin-bottom: 7px;

}
.exams span {
  font-weight: bold;
}

/*----------*/

/* Градиент на задний фон */
body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
  animation: AnimateBG 20s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


