@font-face {
  src: url(/fonts/Golos-Text_Regular.ttf);
  font-family: 'Golos Regular';
}
@font-face {
  src: url(/fonts/Golos-Text_Bold.ttf);
  font-family: 'Golos Bold';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Golos Regular';
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo {
  width: 150px;

}
.logo img {
  width: 150px;
}

input[type='radio'] {
  width: 16px;
  height: 16px;
}

.container {
  display: block;
  border-radius: 10px;
  background-color: whitesmoke;
  width: 550px;
  /*height: 200px;*/
  padding: 25px 40px;
  margin-bottom: 10vh;
}

/* quiz box */
.quiz-box{
  display: none;
}

/* result */
.result-box {
  display: none;
}
.facult-name {
  /*font-weight: bold;*/
  font-size: 25px;
}
.facult-subtitle {
  font-size: 16px;
}

.profiles {
  font-size: 16px;
}
.profiles span {
  font-weight: bold;
}

.formStudy {
  font-size: 14px;
}

.formStudy span {
  font-weight: bold;
}

.exams {
  font-size: 14px;
}

.exams span {
  font-weight: bold;
}


/* Градиент на задний фон */
body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
  animation: AnimateBG 20s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


